In [173]:
import numpy as np
import pandas as pd

In [174]:
# Generate random binary attribute values
X = pd.DataFrame(np.random.randint(2, size=(1000, 5)), columns=['attr1', 'attr2', 'attr3', 'attr4', 'attr5'])

# Generate random binary class labels
y = pd.DataFrame(np.random.randint(2, size=(1000, 1)), columns=['class_label'])

# Concatenate attribute and label data into a single DataFrame
df = pd.concat([X, y], axis=1)

In [175]:
df.head()

   attr1  attr2  attr3  attr4  attr5  class_label
0      0      1      0      1      1            1
1      1      1      0      0      1            0
2      0      1      0      0      0            0
3      0      0      0      1      0            1
4      0      0      1      0      0            1

In [176]:
len(df)

1000

## Write a program to compute the `information gain` in a binary split of a node in a decision tree in terms of `Gini index`. Use this to find the best attribute for a binary split. Assume all attributes are binary and the class labels are also binary.

## Gini Index Calculation

In [177]:
# gini index calculation
def gini(a, b):
    return 1 - np.power(a / (a + b), 2) - np.power(b / (a + b), 2)

## Calculating the `GINI(Parent)`

In [178]:
# before splitting
C_0 = len(df[df['class_label'] == 0]) # no. of classes with 0
C_1 = len(df[df['class_label'] == 1]) # no. of classes with 1

In [179]:
print(C_0, C_1)

513 487

In [180]:
# Gini of parent
M_0 = gini(C_0, C_1)
M_0

0.49966200000000005

## Calculating the Gain

In [181]:
def gain(attr):
    C_0_0, C_1_0 = 0, 0 # when class is 0
    C_0_1, C_1_1 = 0, 0 # when class is 1

    for i, j in zip(attr, df.class_label):
        if i == 0: # if the value is 0
            if j == 0: # if the class is 0
                C_0_0 += 1
            else: # class is 1
                C_1_0 += 1
        else: # if the value is 1
            if j == 0: # if the class is 0
                C_0_1 += 1
            else: # class is 1
                C_1_1 += 1
    
    s1 = C_0_0 + C_1_0 # total number of points if the value is 0
    s2 = C_0_1 + C_1_1 # total number of points if the value is 1
    
    g1 = gini(C_0_0, C_1_0) # gini index if the values is 0
    g2 = gini(C_0_1, C_1_1) # gini index if the values is 1
    
    M_attr = (s1 * g1 + s2 * g2) / len(df) # gini children
    return M_0 - M_attr # gain

In [182]:
# all the attributes in a list
attbs = [df.attr1, df.attr2, df.attr3, df.attr4, df.attr5]

# store all the results
results = [gain(i) for i in attbs]
results

[5.878437163653327e-06,
 3.380338042813236e-08,
 0.0009478246071728536,
 0.001902978700932867,
 0.0012712119582613535]

In [183]:
max(results), results.index(max(results))

(0.001902978700932867, 3)

In [184]:
print(f"So, we are gonna split the attribute '{df.columns[results.index(max(results))]}', which has the maximum Gain.")

So, we are gonna split the attribute 'attr4', which has the maximum Gain.