<center><h1><strong>Subhranil Sarkar</strong></h1></center>
<center><h3>M.Sc. Data Science | 2nd Semester</h3></center>
<center><h3>University of Kalyani</h3></center>
<center><h3>Roll: 96/DTS No.: 210018</h3></center>

<h1>1. Print the sentence <code>"Hello, World!"</code></h1>

In [ ]:
print("Hello, World")

Hello, World

<h1>2. Addition of two numbers.</h1>

In [ ]:
# two variables to store the two integer values
number_1: int = 56
number_2: int = 45

# Summation of two numbers
result: int = number_1 + number_2 

# printing the output
print(f"{number_1} + {number_2} = {result}")

56 + 45 = 101

<h1>3. Swapping two variables.</h1>

In [ ]:
# first number 
number_1: float = 52.333

# second number
number_2: float = 85.641

print(f"First number is: {number_1}\tSecond number is: {number_2}")

# Swapping

# storing the value of first number into a temp variable
temp: float = number_1 

# first variable stores the second value
number_1 = number_2

# second variable store the first value from the temp variable
number_2 = temp


print("After swapping")
print(f"First number is: {number_1}\tSecond number is: {number_2}")

First number is: 52.333	Second number is: 85.641
After swapping
First number is: 85.641	Second number is: 52.333

<h1>4. Swapping two variables without using third variable.</h1>

In [ ]:
# first number 
number_1: float = 52.333

# second number
number_2: float = 85.641

print(f"First number is: {number_1}\tSecond number is: {number_2}")

# Swapping
number_1 = number_1 + number_2
number_2 = number_1 - number_2 
number_1 = number_1 - number_2

print("After swapping")
print(f"First number is: {number_1:0.3f}\tSecond number is: {number_2:0.3f}")

First number is: 52.333	Second number is: 85.641
After swapping
First number is: 85.641	Second number is: 52.333

# Another Way...

In [ ]:
# first number 
number_1: float = 52.333

# second number
number_2: float = 85.641

print(f"First number is: {number_1}\tSecond number is: {number_2}")

# Swapping
number_1, number_2 = number_2, number_1

print("After swapping")
print(f"First number is: {number_1}\tSecond number is: {number_2}")

First number is: 52.333	Second number is: 85.641
After swapping
First number is: 85.641	Second number is: 52.333

<h1>5. Take a number as an input, and check whether it is greater than 100 or not.</h1>

In [ ]:
# Take a number from input
input_number: int = int(input("Enter an integer: "))

# print whether it is greater than 100 or not
print(f"{input_number} is greater than equal to 100") if input_number >= 100 else print(f"{input_number} is less than 100")

Enter an integer: 56
56 is less than 100