In [31]:
import pandas as pd

In [32]:
data = {
    "color_1": ["black", "golden", "yellow"],
    "color_2": ["red", "red", "brown"],
    "color_3": ["brown", "black", "black"]
}

In [33]:
df = pd.DataFrame(data)
df

  color_1 color_2 color_3
0   black     red   brown
1  golden     red   black
2  yellow   brown   black

In [34]:
def one_hot_encoding(dataset):
    new_dataset = {}
    for key, values in dataset.items():
        for i, val in enumerate(values):
            new_dataset.setdefault(f"{key}_{val}", [0] * len(values))[i] = 1
    return new_dataset

In [35]:
encoded_dataset = one_hot_encoding(data)
encoded_dataset

{'color_1_black': [1, 0, 0],
 'color_1_golden': [0, 1, 0],
 'color_1_yellow': [0, 0, 1],
 'color_2_red': [1, 1, 0],
 'color_2_brown': [0, 0, 1],
 'color_3_brown': [1, 0, 0],
 'color_3_black': [0, 1, 1]}

In [36]:
encoded_df = pd.DataFrame(encoded_dataset)
encoded_df

,color_1_black,color_1_golden,color_1_yellow,color_2_red,color_2_brown,color_3_brown,color_3_black
0,1,0,0,1,0,1,0
1,0,1,0,1,0,0,1
2,0,0,1,0,1,0,1