In [7]:
from itertools import chain
import pandas as pd

In [1]:
transcations = {
    "Tid": [10, 20, 30, 40, 50],
    "Items": [
        ["Beer", "Nuts", "Diaper"],
        ["Beer", "Coffee", "Diaper"],
        ["Beer", "Diaper", "Eggs"],
        ["Nuts", "Eggs", "Milk"],
        ["Nuts", "Coffee", "Diaper", "Eggs", "Beer"],
    ]
}

In [3]:
df = pd.DataFrame(transcations)
df

   Tid                               Items
0   10                [Beer, Nuts, Diaper]
1   20              [Beer, Coffee, Diaper]
2   30                [Beer, Diaper, Eggs]
3   40                  [Nuts, Eggs, Milk]
4   50  [Nuts, Coffee, Diaper, Eggs, Beer]

### Association rule
{Beer, Diaper} $\rightarrow$ Coffee

In [16]:
association_rule = {("Beer", "Diaper"): ("Coffee",)}
association_rule

{('Beer', 'Diaper'): ('Coffee',)}

---
## Support

In [69]:
def abs_support(ds, assc_rule):
    c = 0
    for i in ds.Items.values:
        a = list(chain(*chain(*assc_rule.items())))
        if all(elem in i for elem in a):
            c += 1
    return c
        
abs_support(df, association_rule)

2

In [70]:
def normalized_support(ds, assc_rule):
    return abs_support(ds, assc_rule) / len(ds)

In [66]:
normalized_support(df, association_rule)

0.4

---
## Confidence

In [77]:
def confidence(ds, assc_rule):
    c = 0
    for i in ds.Items.values:
        a = list(chain(*assc_rule.keys()))
        if all(elem in i for elem in a):
            c += 1
    return abs_support(ds, assc_rule) / c

In [78]:
confidence(df, association_rule)

0.5

---
## Lift

In [79]:
def lift(ds, assc_rule):
    c = 0
    for i in ds.Items.values:
        a = list(chain(*assc_rule.values()))
        if all(elem in i for elem in a):
            c += 1
    return (len(ds) * confidence(ds, assc_rule)) / c

In [80]:
lift(df, association_rule)

1.25